.bg-1B2995-label {
    background-color: rgba($color: $color-1B2995, $alpha: 0.25);
}

.arrow-icon {
    width: 45px;
    height: 45px;
}

.get-in-touch-section {
    .pattern-img {
        height: 720px;
        left: -22%;
        transform: translate(35px, 48%);

        @media screen and (max-width:1440px) {
            left: -30%;
            transform: translate(35px, 48%);
        }
    }
}

.social-img-content {
    .social-bg {
        border: 1px solid $color-858AB5;
        width: 45px;
        height: 45px;

        .social-img {
            img {
                height: 18px;
            }
        }
    }
}