.single-event-section {
    .single-event-links {
        height: calc(100vh - 350px);
    }

    .single-img {
        height: 583px;
    }

    .single-list {
        li {
            padding-left: 18px;

            &::after {
                content: '';
                position: absolute;
                top: 6px;
                left: 0;
                background-image: url('../../../public/assets/images/list-polygon.svg');
                background-repeat: no-repeat;
                background-size: cover;
                width: 9px;
                height: 11px;
            }
        }
    }
}