/* Error: Undefined variable.
 *    ,
 * 69 |                 line-height: $leading14;
 *    |                              ^^^^^^^^^^
 *    '
 *   src/scss/components/_forms.scss 69:30                      @content
 *   node_modules/bootstrap/scss/mixins/_breakpoints.scss 78:7  media-breakpoint-down()
 *   src/scss/components/_forms.scss 67:13                      @import
 *   src/scss/main.scss 38:9                                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 69 \2502                  line-height: $leading14;\a    \2502                               ^^^^^^^^^^\a    \2575 \a   src/scss/components/_forms.scss 69:30                      @content\a   node_modules/bootstrap/scss/mixins/_breakpoints.scss 78:7  media-breakpoint-down()\a   src/scss/components/_forms.scss 67:13                      @import\a   src/scss/main.scss 38:9                                    root stylesheet";
}
