.left-right-section {
    .left-right-img {
        height: 633px;
    }
}

.left-content-section {
    .pattern-img {
        height: 499px;
        right: -10%;
        transform: translate(35px, -25px);
    }
}